* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
    background: lightsteelblue;
  }
  

  .header {
    padding: 30px;
    text-align: center;
    background: lightsalmon;
  }
  
  .header h1 {
    font-size: 50px;
  }

  #myContainer {
    width: 1200px;
    height: 630px;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }

  #apiContainer {
      width: 1200px;
      height: 630px;
      background-color: seagreen;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 10px;
    text-align: center;
    background: lightslategray;
    margin-top: 10px;
  }